/* ===========================
   GENERAL
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    color:#222;
    line-height:1.7;
}

section{
    padding:70px 10%;
}

h2{
    text-align:center;
    font-size:38px;
    color:#006b3c;
    margin-bottom:40px;
}

/* ==========================
   NAVIGATION
========================== */

.navbar{
    background:#006b3c;
    position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.logo h1{
    color:white;
    font-size:28px;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
	font-weight:bold;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover,
.nav-links .active{
    color:#9be28f;
}

/* ---------- HERO ---------- */

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,80,40,0.8), rgba(0,80,40,0.8)),
    url("banner3.png");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-text{
    color:white;
}

.hero h2{
	color:white;
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
}

.button{
    background:white;
    color:#006b3c;
    text-decoration:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.button:hover{
    background:#006b3c;
    color:white;
    border:2px solid white;
}


/* ===========================
   INTRO
=========================== */

.history-intro{
    background:white;
}

.history-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.history-text{
    flex:1;
}

.history-text p{
    font-size:19px;
}

.history-image{
    flex:1;
}

.history-image img{
    width:100%;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

/* ===========================
   TIMELINE
=========================== */

.timeline{
    background:#eef7ef;
}

.timeline-item{
    background:white;
    border-left:8px solid #006b3c;
    padding:25px;
    margin:30px auto;
    width:80%;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.timeline-item h3{
    color:#006b3c;
    font-size:28px;
    margin-bottom:10px;
}

/* ===========================
   AIM MISSION VISION
=========================== */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
    background:white;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 6px 18px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#006b3c;
    margin-bottom:20px;
}

/* ===========================
   LEADERS
=========================== */

.leaders{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.leader{
    background:white;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 6px 18px rgba(0,0,0,.15);
    transition:.3s;
}

.leader:hover{
    transform:translateY(-8px);
}

.leader img{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    border:5px solid #006b3c;
}

.leader h3{
    color:#006b3c;
    margin-bottom:8px;
}

.leader p{
    color:#555;
}

/* ===========================
   FOOTER
=========================== */

footer{
    background:#004d2a;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:900px){

    .history-content{
        flex-direction:column;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .timeline-item{
        width:100%;
    }

    .overlay h1{
        font-size:45px;
    }

    .overlay p{
        font-size:20px;
    }

}